---
title: Contact - USC Biomedical Microsystems Laboratory
id: prospective
active_home: 
active_about: 
active_research: 
active_people: 
active_pub:
active_prospective: active
---
{% include header.html %}			
<body>
  <div class="container">
  	<br><br>
  	<p>The Biomedical Microsystems Laboratory is organized within the Department of Biomedical Engineering. The lab is also affiliated with the Ming Hsieh Department of Electrical Engineering.  The lab welcomes student applicants with diverse backgrounds including:</p>
	<ul>
		<li>Applied Physics</li>
		<li>Bioengineering</li>
		<li>Biomedical Engineering</li>
		<li>Chemical Engineering</li>
		<li>Electrical Engineering</li>
		<li>Materials Science</li>
		<li>Mechanical Engineering</li>
		<li>Physics</li>
	</ul>
	<p>Of course, students with prior MEMS/bioMEMS experience are preferred.</p>
	<br>
	<h3 class="cardinal">All students interested in joining the lab should read the following information before contacting Dr. Meng:</h3>
	<br>
	<h4>Ph.D. Students</h4>
	<p>
		Students interested in joining the lab need to apply through USC Graduate Admissions to the Biomedical Engineering department. Also, students should specifically indicate their interest in joining the Biomedical Microsystems Lab. Detailed information about graduate admissions in Biomedical Engineering can be found <a href="https://bme.usc.edu/admission/graduate-admission/" target="_blank">here.</a>
	</p>
	<p>
		After being admitted, students may contact Prof. Meng to arrange participation in a lab rotation. BME 505 is our lab rotation course; please see details on Ph.D. study <a href="https://bme.usc.edu/academics/graduate-programs/doctor-philosophy-program/" target="_blank">here.</a>
		Rotation students are typically not funded, however truly exceptional applicants may be awarded fellowships. GRAs are awarded through the department and not the lab.
	</p>
	<br>
	<h4>M.S. Students</h4>
	<p>
		MS students interested in bioMEMS or biomedical microdevices are encouraged to take BME 451 or 551. There are no directed research or other research opportunities for MS students at this time.
	</p>
	<br>
	<h4>Undergraduate Researchers</h4>
	<p>
		The Biomedical Microsystems Lab offers undergraduates an opportunity to participate in cutting edge research. Merit Researchers, WiSE Fellows, McNair Scholars, Provost Research Fellows, Rose Hills Research Fellows, Viterbi Summer Interns, REU students and volunteers are welcome. Interested students should expect to spend a minimum of 10 hours a week in lab. Please email Prof. Meng directly if you are interested in getting involved.
	</p>
	<br>
	<h4>Prospective Postdoctoral Scholars</h4>
	<p>
		The Biomedical Microsystems Laboratory welcomes applications from exceptional postdoctoral scholar candidates interested in pursuing research in the following areas:
	</p>
	<ul>
		<li>Drug delivery devices</li>
		<li>MEMS neural interfaces</li>
		<li>Microfluidic systems and packaging</li>
	</ul>
	<p>
		Candidates with relevant experience should contact Prof. Meng directly by email.  Please include the following information with your email application: cover letter, CV, references, and research interests.
	</p>
	<br>
  </div>
</body>

{% include footer.html %}