<!-- footer -->
  <footer class="shadow">
    <div class="container">
      <div class="row">
        <div class="col-xl-3"> <iframe class="shadow" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.869287222274!2d-118.29319238388304!3d34.021566026791625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c7fb9f5619b3%3A0x38db2c74e7dd931e!2s1042+Downey+Way%2C+Los+Angeles%2C+CA+90089!5e0!3m2!1sen!2sus!4v1532474692769" width="600" height="450" frameborder="0" style="border:0; max-width:17rem; max-height:17rem;" allowfullscreen></iframe>
        </div>
        <div class="col-xl-3 align-self-center"> 
          <p style="font-size:10pt">
            Biomedical Microsystems Laboratory<br>
            University of Southern California<br><br>

            <a href="bme.usc.edu">Department of Biomedical Engineering</a> <br>
            1042 Downey Way, DRB-140 <br>
            Los Angeles, CA 90089-1111 <br><br>

            P 213.740.6952 <br>
            F 213.821.3897
          </p>  
        </div>
        <div class="col-xl-6 align-self-center"> 
          <a href="viterbischool.usc.edu"><img class="shadow" style="background-color:#fff; width:100%" src="{{ site.baseurl }}images/viterbi-logo.png" alt="viterbischool.usc.edu"></a>
          
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</html>    
